.main-nav {
  height: 42px;
  width: 100%;
  border-bottom: 1px solid rgb(212, 215, 220);
  .nav-list {
    height: 100%;
    list-style: none;
    li {
      font-size: 13px;
      position: relative;
      a,
      a:visited {
        padding-left: 20px;
        padding-right: 20px;
        color: rgb(119, 119, 119);
        text-decoration: none;
        &:hover {
          color: black;
        }
        &.active {
          color: black;
          &::after {
            content: "";
            position: absolute;
            bottom: -11px;
            left: 43%;
            color: rgb(118, 97, 139);
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 6px solid;
          }
        }
      }
    }
  }
}
