<div class="question-answer">
  <div class="question">
    <div class="user-info d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <img
          src="../../assets/images/profile-photo.jpeg"
          class="rounded-circle"
        />
        <p class="user-name m-0 ml-2">Samantha</p>
        <p class="post-time m-0 ml-3">4 hrs ago</p>
      </div>
      <div class="report d-flex align-items-center">
        <fa-icon [icon]="faExclamationCircle" class="text-danger"></fa-icon>
        <p class="m-0 ml-1 report-text">Report this</p>
      </div>
    </div>
    <p class="m-0 my-2 ques">Question to be asked</p>
    <p class="m-0 ques-detail">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam enim,
      eveniet fugiat qui nulla officiis fuga soluta obcaecati reprehenderit
      repudiandae, natus fugit, doloremque in esse ab. Explicabo, fugit!
      Explicabo, rerum.
    </p>
  </div>
  <p class="m-0 answer-heading">Answers (3)</p>
  <div class="answers">
    <div class="answer">
      <div class="user-info d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <img
            src="../../assets/images/profile-photo.jpeg"
            class="rounded-circle"
          />
          <p class="user-name m-0 ml-2">Jessy Robert</p>
          <p class="post-time m-0 ml-3">10 min ago</p>
        </div>
        <div class="like-dislike d-flex">
          <div class="like d-flex align-items-center">
            <fa-icon [icon]="faThumbsUp"></fa-icon>
            <p class="m-0 ml-1">3</p>
          </div>
          <div class="dislike d-flex ml-3">
            <fa-icon [icon]="faThumbsDown"></fa-icon>
            <p class="m-0 ml-1">0</p>
          </div>
        </div>
      </div>
      <p class="ans mt-2">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam dolore
        deleniti eligendi tempore? Accusantium tempore sequi ducimus sed
        voluptates? Similique illum repudiandae doloribus cupiditate, ipsa
        corrupti commodi placeat eos explicabo!
      </p>
      <div class="best-answer d-flex align-items-center">
        <input type="checkbox" />
        <p class="m-0 ml-2">Mark as best solution</p>
      </div>
    </div>
    <div class="answer">
      <div class="user-info d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <img
            src="../../assets/images/profile-photo.jpeg"
            class="rounded-circle"
          />
          <p class="user-name m-0 ml-2">Jessy Robert</p>
          <p class="post-time m-0 ml-3">10 min ago</p>
        </div>
        <div class="like-dislike d-flex">
          <div class="like d-flex align-items-center">
            <fa-icon [icon]="faThumbsUp"></fa-icon>
            <p class="m-0 ml-1">3</p>
          </div>
          <div class="dislike d-flex ml-3">
            <fa-icon [icon]="faThumbsDown"></fa-icon>
            <p class="m-0 ml-1">0</p>
          </div>
        </div>
      </div>
      <p class="ans mt-2">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam dolore
        deleniti eligendi tempore? Accusantium tempore sequi ducimus sed
        voluptates? Similique illum repudiandae doloribus cupiditate, ipsa
        corrupti commodi placeat eos explicabo!
      </p>
      <div class="best-answer d-flex align-items-center">
        <input type="checkbox" />
        <p class="m-0 ml-2">Mark as best solution</p>
      </div>
    </div>
    <div class="answer">
      <div class="user-info d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <img
            src="../../assets/images/profile-photo.jpeg"
            class="rounded-circle"
          />
          <p class="user-name m-0 ml-2">Jessy Robert</p>
          <p class="post-time m-0 ml-3">10 min ago</p>
        </div>
        <div class="like-dislike d-flex">
          <div class="like d-flex align-items-center">
            <fa-icon [icon]="faThumbsUp"></fa-icon>
            <p class="m-0 ml-1">3</p>
          </div>
          <div class="dislike d-flex ml-3">
            <fa-icon [icon]="faThumbsDown"></fa-icon>
            <p class="m-0 ml-1">0</p>
          </div>
        </div>
      </div>
      <p class="ans mt-2">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam dolore
        deleniti eligendi tempore? Accusantium tempore sequi ducimus sed
        voluptates? Similique illum repudiandae doloribus cupiditate, ipsa
        corrupti commodi placeat eos explicabo!
      </p>
      <div class="best-answer d-flex align-items-center">
        <input type="checkbox" />
        <p class="m-0 ml-2">Mark as best solution</p>
      </div>
    </div>
    <div class="add-answer">
      <textarea placeholder="Enter your answer here..."></textarea>
    </div>
  </div>
</div>
