.search-question {
  height: 92px;
  border-bottom: 1px solid rgb(212, 215, 220);
  background-color: rgb(248, 248, 249);
  padding-left: 20px;
  padding-right: 20px;
  p {
    font-size: 14px;
  }
  //   .triangle {
  //     color: rgb(117, 117, 117);
  //     position: absolute;
  //     bottom: 14px;
  //     right: 14px;
  //     border-left: 6px solid transparent;
  //     border-right: 6px solid transparent;
  //     border-top: 6px solid;
  //   }
  .keywords {
    .icon {
      top: 12px;
      left: 8px;
      font-size: 13px;
      color: rgb(117, 117, 117);
    }
    #keyword {
      padding-left: 32px;
      font-size: 14px;
      height: 36px;
      width: 302px;
    }
  }
}
