.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 52px;
  background-color: rgb(118, 97, 139);
  .logo {
    background-color: rgb(82, 67, 97);
    width: 100px;
    padding: 13px 17px;
    img {
      width: 66px;
    }
  }

  .btn {
    margin-right: 8px;
    color: black;
    outline: none;
    &:hover {
      color: white;
    }
    &.active {
      color: white;
    }
  }

  .info {
    margin-right: 20px;
    font-weight: 100;
    img {
      width: 36px;
      height: 36px;
    }
  }
}
