<div class="questions">
  <div class="question d-flex">
    <div class="profile d-flex flex-column align-items-center">
      <img
        src="../../assets/images/profile-photo.jpeg"
        class="rounded-circle mb-2"
      />
      <a href="#">
        <fa-icon [icon]="faChevronUp" class="upvote"></fa-icon>
      </a>
      <p class="m-0">20</p>
    </div>
    <div class="user-question ml-4">
      <p class="ques">Question to be asked ?</p>
      <p class="ques-detail">Specifics about the question</p>
      <div class="views d-flex justify-content-between align-items-center mt-4">
        <div class="d-flex align-items-center">
          <fa-icon [icon]="faEye" class="mr-1 view-icon"></fa-icon>
          <p class="view-count">130 views</p>
          <p class="answer-number ml-4">5 Answers</p>
        </div>
        <p class="m-0 post-time">10 min ago</p>
      </div>
    </div>
  </div>
  <div class="question d-flex">
    <div class="profile d-flex flex-column align-items-center">
      <img
        src="../../assets/images/profile-photo.jpeg"
        class="rounded-circle mb-2"
      />
      <a href="#">
        <fa-icon [icon]="faChevronUp" class="upvote"></fa-icon>
      </a>
      <p class="m-0">20</p>
    </div>
    <div class="user-question ml-4">
      <p class="ques">Question to be asked ?</p>
      <p class="ques-detail">Specifics about the question</p>
      <div class="views d-flex justify-content-between align-items-center mt-4">
        <div class="d-flex align-items-center">
          <fa-icon [icon]="faEye" class="mr-1 view-icon"></fa-icon>
          <p class="view-count">130 views</p>
          <p class="answer-number ml-4">5 Answers</p>
        </div>
        <p class="m-0 post-time">10 min ago</p>
      </div>
    </div>
  </div>
  <div class="question d-flex">
    <div class="profile d-flex flex-column align-items-center">
      <img
        src="../../assets/images/profile-photo.jpeg"
        class="rounded-circle mb-2"
      />
      <a href="#">
        <fa-icon [icon]="faChevronUp" class="upvote"></fa-icon>
      </a>
      <p class="m-0">20</p>
    </div>
    <div class="user-question ml-4">
      <p class="ques">Question to be asked ?</p>
      <p class="ques-detail">Specifics about the question</p>
      <div class="views d-flex justify-content-between align-items-center mt-4">
        <div class="d-flex align-items-center">
          <fa-icon [icon]="faEye" class="mr-1 view-icon"></fa-icon>
          <p class="view-count">130 views</p>
          <p class="answer-number ml-4">5 Answers</p>
        </div>
        <p class="m-0 post-time">10 min ago</p>
      </div>
    </div>
  </div>
  <div class="question d-flex">
    <div class="profile d-flex flex-column align-items-center">
      <img
        src="../../assets/images/profile-photo.jpeg"
        class="rounded-circle mb-2"
      />
      <a href="#">
        <fa-icon [icon]="faChevronUp" class="upvote"></fa-icon>
      </a>
      <p class="m-0">20</p>
    </div>
    <div class="user-question ml-4">
      <p class="ques">Question to be asked ?</p>
      <p class="ques-detail">Specifics about the question</p>
      <div class="views d-flex justify-content-between align-items-center mt-4">
        <div class="d-flex align-items-center">
          <fa-icon [icon]="faEye" class="mr-1 view-icon"></fa-icon>
          <p class="view-count">130 views</p>
          <p class="answer-number ml-4">5 Answers</p>
        </div>
        <p class="m-0 post-time">10 min ago</p>
      </div>
    </div>
  </div>
</div>
